body {
    background-image: url(../imagens/Design_sem_nome__18_-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 0px 90px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.space{
    text-align: center;
    color: rgb(14, 115, 210);
    font-size: 35px;
    letter-spacing: 10px;
    margin-top: 30px;
}

.conta{
    text-align: center;
    margin-top: -20px;
    font-size: 25px;
    letter-spacing: 5px;
}

.meio{
    display: flex;
    justify-content: center;
}

.nome{
    width: 50%;
    border: none;
    margin-left: -12px;    
}

.nome2{
    width: 130px;
    height: 40px;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 30px;
    mix-blend-mode: multiply;
    
}

.sobre{
    width: 50%;
    border: none;
}

.sobre2{
    width: 154px;
    height: 40px;
    margin-left: -10px;
    font-size: 16px;
    margin-top: 30px;
    mix-blend-mode: multiply;
}

.geral{
    border: none;
}

.email2{
    width: 313px;
    height: 40px;
    margin-left: 6px;
    font-size: 16px;
    margin-top: 30px;
    mix-blend-mode: multiply;
    margin-top: 10px;
}

.email{
    border: none;
}

.senha{
    border: none;
    margin-left: -12px;
}

.senha2{
    width: 313px;
    height: 40px;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 30px;
    mix-blend-mode: multiply;
    margin-top: 10px;
}

.criar {
    background: linear-gradient(90deg, #CDFFD8, #94b9ff);
    border-radius: 20px;
    width: 300px;
    height: 40px;
    margin-left: 45px;
    border: none;
    color: black;
    font-size: 20px;
    margin-top: 25px;
    cursor: pointer;
    
}

@media screen and (min-width:567px){
    body{
        background: linear-gradient(100deg, #CDFFD8, #94B9FF);
    }
    .circulo{
        background: white;
        width: 380px;
        height: 380px;
        margin-left: 65%;
        margin-top: -370px;
        border-radius: 50%;
        background-image: url(../imagens/fundo.index-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 290px 390px;
        background-position: -9px -3px;
    }

    .criar {
        background: white;
    }

    .space{
        margin-left: 70px;
        text-align: left;
        margin-top: 60px;
    }

    .conta{
        text-align: left;
        margin-left: 110px;
        margin-top: 20px;
    }

    .nome{
        margin-left: 30px;
    }

    .email{
        margin-left: 45px;
    }

    .senha{
        margin-left: 30px;
    }

    .sobre{
        margin-left: -633px;
    }
    .meio{
        margin-left: -275px;
    }

    .criar{
        margin-left: 80px;
    }
}

