        /* Estilos para ocultar o modal por padrão */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            position: relative;
            margin: auto;
            padding: 20px;
            width: 80%;
            max-width: 800px;
            background-color: #fff;
            border-radius: 5px;
            top: 150px;
        }

        .fechar {
            top: 0px;
            right: 3px;
            font-size: 35px;
            cursor: pointer;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            min-height: 100%;
        }

        .cima {
            width: 100%;
            height: 400px;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url(https://img.freepik.com/fotos-gratis/mulher-sorridente-de-tiro-medio-alongando-se_23-2148785545.jpg?w=740&t=st=1695758966~exp=1695759566~hmac=327bb08f8a0179dd239299bb98517cc9a727d223b4e345010f09e18c83806c06);
            background-repeat: no-repeat;
            background-size: 100% 400px;
        }

        .volta {
            top: 20px;
            left: 20px;
            position: absolute;
            font-size: 25px;
            color: white;
            text-decoration: none;
        }

        .exer {
            position: absolute;
            top: 270px;
            background-color: white;
            width: 103%;
            height: 100%;
            border-radius: 40px 40px 0px 0px;
            margin-left: -20px;
            background-image: url(../imagens/Design_sem_nome__18_-removebg-preview.png);
            background-repeat: no-repeat;
        }


        .exer h1 {
            font-size: 28px;
            margin-bottom: 10px;
            margin-left: 20px;
        }

        .iten01 {
            display: flex;
            flex-wrap: wrap;
            border: 2px solid black;
            border-radius: 20px;
            background-color: white;
            margin-left: 13px;
        }

        .iten01 .fi {
            font-size: 35px;
            margin-top: 25px;
            
        }

        .iten01 .frase {
            font-size: 30px;
            margin-left: 10px;
        }

        .iten01 .frase2{
            font-size: 30px;
            margin-left: 10px;
        }



        .iten01 .num1 {
            font-size: 19px;
            margin-top: 65px;
            margin-left: -169px;
        }

        .iten01 .num2 {
            font-size: 19px;
            margin-top: 65px;
            margin-left: -169px;
        }

        .iten01 .num3 {
            font-size: 19px;
            margin-top: 65px;
            margin-left: -140px;
        }

        .iten01 .num4 {
            font-size: 19px;
            margin-top: 65px;
            margin-left: -154px;
        }
        
        .iten01 .num5 {
            font-size: 19px;
            margin-top: 70px;
            margin-left: -175px;
        }

        .iten01 .num6{
            font-size: 19px;
            margin-top: 70px;
            margin-left: -158px;
        }

        @media screen and (min-width:767px) {
            .exer{
                width: 1430px;
                top: 370px;
                margin-left: -7px;
                display: flex;
                background-position: 750px 10px;
                border-radius: 0%;
             }

            .iten01{
                height: 100px;
                width: 300px;
                margin-top: 70px;
                max-width: 500px;
            }

            body{
                padding: 0;
                margin: 0;
            }

            .iten011{
                margin-left: -120px;
            }

            .modal-content{
                top: 100px;
            }

            .cima{
                background-size: 100% 450px;
            }
            .iten01 .frase2 {
                font-size: 30px;
                margin-left: 0px;
                margin-top: 30px;
            }
        
        }

        
