    .fotos {
        position: absolute;
        top: 270px;
        background-color: white;
        width: 103%;
        height: 100%;
        border-radius: 40px 40px 0px 0px;
        margin-left: -20px;
        background-image: url(../imagens/Design_sem_nome__18_-removebg-preview.png);
        background-repeat: no-repeat;
    }

    .fotos h1 {
        font-size: 28px;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .cima {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(https://img.elo7.com.br/product/main/337B547/scrapbook-preto-50-fls-31x29cm-amor.jpg);
        background-repeat: no-repeat;
        background-size: 100% 300px;
    }

    .volta {
        top: 20px;
        left: 20px;
        position: absolute;
        font-size: 25px;
        color: white;
        text-decoration: none;
    }
    
        img{
            width: 80%;
            height: 100%;
            border-radius: 6px;
            margin-bottom: 10px;
            margin-left: 50px;
        }
        
        section{
            column-gap: 5px;
            column-count: 2;
            margin: 10px;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            position: relative;
            margin: auto;
            padding: 20px;
            width: 80%;
            max-width: 800px;
            background-color: #fff;
            border-radius: 5px;
            top: 100px;
            margin-left: 20px;
            height: 50%;
        }

        .close {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 30px;
            cursor: pointer;
            color: white;
        }

        input[type="file"]{
            display: none;  
        }

        label {
            height: 70px;
            width: 70px;
            background: #333;
            color: #fff;
            text-transform: uppercase;
            display: block;
            margin-top: 10px;
            text-align: center;
            font-size: 60px;
            cursor: pointer;
            transition: 0.5s;
            border-radius: 50%;
            position: fixed;
            left: 90%; /* Centralizando horizontalmente */
            transform: translateX(-50%); /* Centralizando horizontalmente */
            bottom: 20px; /* Ajuste conforme necessário para a posição vertical desejada */
            z-index: 2; /* Ou qualquer valor maior que o z-index dos outros elementos */
        }
        

        
        @keyframes progress-animation{
            0% { width: 0%; }
            
            100% { width: 100%}
            
        }

        @media screen and (min-width:767px){
            img{
                width: 250px;
                height: 250px;
                border-radius: 6px;
                margin-bottom: 10px;
                margin-left: 8px;
            }
            
            section{
                column-gap: 5px;
                column-count: 3;
                margin: 10px;
            }
            
            .fotos {
                width: 100%;
                margin-left: -9px;
            }

            .cima{
                background-size: 100% 300px;
            }
            .modal-content{
                top: 50px;
                margin-left: 20%;
                height: 500px;
            }

            .close{
                font-size: 50px;
            }

            .cima{
                background-size: 100% 450px;
            }

            label{
                left: 97%;
            }


        }

        /* Adicione as seguintes regras ao seu arquivo CSS */

    .img-container {
        position: relative;
        display: inline-block; /* para que o span fique ao lado da imagem */
    }

    .close-button {
        position: absolute;
        top: 5px; /* ajuste conforme necessário para a posição vertical desejada */
        right: 5px; /* ajuste conforme necessário para a posição horizontal desejada */
        font-size: 24px; /* ajuste conforme necessário para o tamanho desejado do ícone 'x' */
        cursor: pointer;
        color: white; /* ajuste conforme necessário para a cor desejada */
        background-color: red; /* ajuste conforme necessário para a cor de fundo desejada */
        border-radius: 50%;
        padding: 5px;
    }

    .close-button:hover {
        background-color: darkred; /* ajuste conforme necessário para a cor de fundo desejada ao passar o mouse */
    }


    .c-loader {
        animation: is-rotating 1s infinite;
        border: 6px solid #e5e5e5;
        border-radius: 50%;
        border-top-color: #51d4db;
        height: 120px;
        width: 120px;
    }
    
    .loading-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fundo preto fraco */
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }
  
  .hidden {
    display: none;   
}


/* Variables */
:root {
  --color: #c0392b;
  --color-dark: #a53125;
  --speed: 0.25s;
  --transition: all var(--speed) cubic-bezier(0.310, -0.105, 0.430, 1.400);
}

/* Main Styles */
.button {
  display: block;
  background-color: var(--color);
  width: 200px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  transition: var(--transition);
  margin-top: 250px;
  margin-left: 1145px;
}

.button span,
.button .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

.button span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  text-transform: uppercase;
  left: 0;
  transition: var(--transition);
}

.button span:after {
  content: '';
  background-color: var(--color-dark);
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}

.button .icon {
  width: 28%;
  right: 0;
  transition: var(--transition);
}

.button .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  transition: var(--transition), height var(--speed) ease;
}

.button .icon .fa-remove {
  height: 36px;
}

.button .icon .fa-check {
  display: none;
}

.button.success,
.button:hover {
  span {
    left: -72%;
    opacity: 0;
  }
  
  .icon {
    width: 100%;
  }
  
  .icon .fa {
    font-size: 45px;
  }
}

.button.success {
  background-color: #27ae60;
}

.button.success .icon .fa-remove {
  display: none;
}

.button.success .icon .fa-check {
  display: inline-block;
}

.button:hover {
  opacity: .9;
}

.button:hover .icon .fa-remove {
  height: 46px;
}

.button:active {
  opacity: 1;
}


@media screen and (max-width: 764px) {
    .button {
        display: block;
        background-color: var(--color);
        width: 200px;
        height: 100px;
        line-height: 100px;
        margin: auto;
        color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
        transition: var(--transition);
        margin-top: 580px;
        margin-left: 100px;}
 
}


