        /* Estilos para ocultar o modal por padrão */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-content {
            position: relative;
            margin: auto;
            padding: 20px;
            width: 80%;
            max-width: 800px;
            background-color: #fff;
            border-radius: 5px;
            top: 100px;
        }

        .fechar {
            top: 0px;
            right: 3px;
            font-size: 35px;
            cursor: pointer;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            min-height: 100%;
        }

        .cima {
            width: 100%;
            height: 350px;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url("https://s2-ge.glbimg.com/ldphEVfFQRBycj2UI9xq_UQWIwY=/0x0:1258x834/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2020/h/w/HMAr8YRVud7esJTrS1PQ/meditacao.jpg");
            background-repeat: no-repeat;
            background-size: 100% 350px;
        }

        .volta {
            top: 20px;
            left: 20px;
            position: absolute;
            font-size: 25px;
            color: white;
            text-decoration: none;
        }

        .med {
            position: absolute;
            top: 270px;
            background-color: white;
            width: 103%;
            height: 100%;
            border-radius: 40px 40px 0px 0px;
            margin-left: -20px;
            background-image: url(../imagens/Design_sem_nome__18_-removebg-preview.png);
            background-repeat: no-repeat;
        }

        .med h1 {
            font-size: 28px;
            margin-bottom: 10px;
            margin-left: 20px;
        }

        .iten01 {
            display: flex;
            flex-wrap: wrap;
            border: 2px solid black;
            border-radius: 20px;
            background-color: white;
            margin-left: 13px;
        }

        .iten01 .fi {
            font-size: 40px;
            margin-top: 25px;
            
        }

        .iten01 .frase{
            font-size: 20px;
            margin-top: 30px;
        }

        .iten01 .frase2{
            font-size: 20px;
            margin-top: 30px;
        }

        .iten01 .frase3{
            font-size: 20px;
            margin-top: 31px;
        }
        .iten01 .frase4{
            font-size: 20px;
            margin-top: 30px;
        }
        .iten01 .frase5{
            font-size: 20px;
            margin-top: -40px;
            margin-left: 40px;
        }
        .iten01 .frase6{
            font-size: 22px;
            margin-top: 30px;
            margin-left: 10px;
        }
        .iten01 .num1 {
            font-size: 15px;
            margin-top: 50px;
            margin-left: -157px;
        }

        .iten01 .num2 {
            font-size: 15px;
            margin-top: 50px;
            margin-left: -160px;
        }

        .iten01 .num3 {
            font-size: 15px;
            margin-top: 50px;
            margin-left: -120px;
        }

        .iten01 .num4 {
            font-size: 16px;
            margin-top: 50px;
            margin-left: -162px;
        }
        .iten01 .num5 {
            font-size: 16px;
            margin-top: 50px;
            margin-left: -140px;
        }
        .iten01 .num6 {
            font-size: 16px;
            margin-top: 50px;
            margin-left: -50px;
        }
        


        
        @media screen and (min-width:767px) {
            .med{
                width: 1373px;
                top: 370px;
                margin-left: -7px;
                display: flex;
                background-position: 750px 10px;
             }

            .iten01{
                height: 100px;
                width: 300px;
                margin-top: 70px;
                max-width: 500px;
            }

            body{
                padding: 0;
                margin: 0;
            }

            .iten011{
                margin-left: -120px;
            }

            .modal-content{
                top: 100px;
            }

            .cima{
                background-size: 100% 450px;
            }
            .iten01 .frase{
                font-size: 20px;
                margin-left: 40px;
                margin-top: -40px;
            }

            .iten01 .frase2{
                font-size: 20px;
                margin-left: 40px;
                margin-top: -40px;
            }

            .iten01 .frase3{
                font-size: 20px;
                margin-top: 30px;
                margin-left: 5px;
            }
            .iten01 .frase4{
                font-size: 20px;
                margin-top: -40px;
                margin-left: 40px;
            }
            .iten01 .frase5{
                font-size: 20px;
                margin-top: -40px;
                margin-left: 40px;
            }
            .iten01 .frase6{
                font-size: 22px;
                margin-top: 30px;
                margin-left: 10px;
            }
            .iten01 .num1 {
                font-size: 15px;
                margin-top: -10px;
                margin-left: -155px;
            }
    
            .iten01 .num2 {
                font-size: 15px;
                margin-top: -10px;
                margin-left: -160px;
            }
    
            .iten01 .num3 {
                font-size: 19px;
                margin-top: 65px;
                margin-left: -150px;
            }
    
            .iten01 .num4 {
                font-size: 16px;
                margin-top: -10px;
                margin-left: -170px;
            }
            .iten01 .num5 {
                font-size: 16px;
                margin-top: -15px;
                margin-left: -150px;
            }
            .iten01 .num6 {
                font-size: 16px;
                margin-top: 60px;
                margin-left: -50px;
            }
           
        
        }

        