body {
    background-image: url(login/imagens/Design_sem_nome__18_-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 0px 90px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.space{
    text-align: center;
    color: rgb(14, 115, 210);
    font-size: 35px;
    letter-spacing: 10px;
    margin-top: 30px;
}

.conta{
    text-align: center;
    margin-top: -20px;
    font-size: 25px;
    letter-spacing: 5px;
}

.meio{
    display: flex;
    justify-content: center;
}

.nome{
    width: 50%;
    border: none;
    margin-left: -10px;    
}

.nome2{
    width: 130px;
    height: 40px;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 30px;
    mix-blend-mode: multiply;
    
}

.sobre{
    width: 50%;
    border: none;
}

.sobre2{
    width: 150px;
    height: 40px;
    margin-right: 50px;
    font-size: 16px;
    margin-top: 30px;
    mix-blend-mode: multiply;
}

.geral{
    border: none;
}

.email2{
    width: 315px;
    height: 40px;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 30px;
    mix-blend-mode: multiply;
    margin-top: 10px;
}

.email{
    border: none;
}

.senha{
    border: none;
    margin-left: -10px;
}

.senha2{
    width: 315px;
    height: 40px;
    margin-left: 20px;
    font-size: 16px;
    margin-top: 30px;
    mix-blend-mode: multiply;
    margin-top: 10px;
}

.criar button{
    background: linear-gradient(90deg, #CDFFD8, #94b9ff);
    border-radius: 20px;
    width: 300px;
    height: 40px;
    margin-left: 45px;
    border: none;
    color: black;
    font-size: 20px;
    margin-top: 25px;
    cursor: pointer;
    
}

