body{
    background-image: url(../imagens/Design_sem_nome__18_-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 70px 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.bom{
    font-size: 26px;
    color: gray;
    margin-top: 25px;
}

.user{
    margin-top: -55px;
}

.perfil{
    width: 80px;
    height: 80px;
    margin-left: 265px;
    margin-top: -50px;
}

.grid {
    display: grid;
    grid-template-areas: 
    "med  ex"
    "son fot"
    ;
    margin-left: 20px;
    margin-top: 20px;

}

.med{
    grid-area: med;
    height: 200px;
    width: 170px;
    margin-left: -10px;
    
}

.img-1{
    border-radius: 15px 15px 0px 0px;
}

.img-2{
    border-radius: 15px 15px 0px 0px;
}

.img-3{
    border-radius: 15px 15px 0px 0px;
}

.img-4{
    border-radius: 15px 15px 0px 0px;
}

.img-user{
    border-radius: 15px 15px 15px 15px;
    mix-blend-mode: multiply;
}

.med p{
    font-size: 20px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(233, 231, 231);
    margin-top: -4px;
    height: 30px;
    text-align: center;
}

.ex{
   grid-area: ex;
   height: 200px;
   width: 170px;
   margin-left: 20px;

}

.ex p{
    font-size: 20px;
    border-radius:  0px 0px 15px 15px;
    background-color: rgb(233, 231, 231);
    margin-top: -4px;
    height: 30px;
    text-align: center;
}

.son{
    grid-area: son;
    height: 200px;
    width: 170px;
    margin-top: 50px;
    margin-left: -10px;
}

.son p{
    font-size: 20px;
    border-radius:  0px 0px 15px 15px;
    background-color: rgb(233, 231, 231);
    margin-top: -4px;
    height: 30px;
    text-align: center;
}

.link{
    text-decoration: none;
    color: black;
}

.fot{
    grid-area: fot;
    height: 200px;
    width: 170px;
    margin-top: 50px;
    margin-left: 20px;
}

.fot p{
    font-size: 20px;
    border-radius:  0px 0px 15px 15px;
    background-color: rgb(233, 231, 231);
    margin-top: -4px;
    height: 30px;
    text-align: center;
}

.dia{
    border-bottom:solid 1px ;
    margin-left: 20px;
    margin-right: 40px;
}
